*{
  padding: 0;
  margin: 0;
}
img{
  width: 200px;
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background: #000;
}


.main{
  position: relative;
  width: 150px;
  height: 200px;
  transform-style:preserve-3d ;
  animation: animate 90s linear infinite;
}
@keyframes animate{
  0%{
      transform: perspective(1000px) rotateY(0deg);
  }
 100%{
      transform: perspective(1000px) rotateY(360deg);
  }

}
.main span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 22.5deg)) translateZ(375px);
  -webkit-box-reflect:below 0px linear-gradient(transparent,transparent,#0004)  ;
}
.main span img{
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
  height: 100%;
  object-fit: cover;

}
.boo{
  margin-top: 100px;
}
span{
font-family: "Cardo", sans-serif;
font-weight: bold;
font-size: larger;
color:#A34343;
}
.supsection1{
  margin-top: 45px;
  background:linear-gradient( #000, #2e2d2d);
}

.logo h1 i{
  color:#A34343;
}



@media (max-width: 575px) {
  img{
    width: 200px;
  }
  section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background: #000;
  }
  .main{
    position: relative;
    width: 125px;
    height: 200px;
    transform-style:preserve-3d ;
    animation: animate 90s linear infinite;
  }
  .main span{
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 22.5deg)) translateZ(240px);
    -webkit-box-reflect:below 0px linear-gradient(transparent,transparent,#0004)  ;
  }
  .main span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: 100%;
    object-fit: cover;

  }



}
