<section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade"
  data-aos-delay="1500">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="main">
        <span style="--i:1;"><img src="https://image.tmdb.org/t/p/w500{{movies.results[0].poster_path}}" alt=""></span>
        <span style="--i:2;"><img src="https://image.tmdb.org/t/p/w500{{movies.results[1].poster_path}}" alt=""></span>
        <span style="--i:3;"><img src="https://image.tmdb.org/t/p/w500{{movies.results[2].poster_path}}" alt=""></span>
        <span style="--i:4;"><img src="https://image.tmdb.org/t/p/w500{{movies.results[3].poster_path}}" alt=""></span>
        <span style="--i:5;"><img src="https://image.tmdb.org/t/p/w500{{movies.results[4].poster_path}}" alt=""></span>
        <span style="--i:6;"><img src="https://image.tmdb.org/t/p/w500{{movies.results[5].poster_path}}" alt=""></span>
        <span style="--i:7;"><img src="https://image.tmdb.org/t/p/w500{{movies.results[6].poster_path}}" alt=""></span>
        <span style="--i:8;"><img src="https://image.tmdb.org/t/p/w500{{movies.results[7].poster_path}}" alt=""></span>
        <span style="--i:9;"><img src="https://image.tmdb.org/t/p/w500{{movies.results[8].poster_path}}" alt=""></span>
        <span style="--i:10;"><img src="https://image.tmdb.org/t/p/w500{{movies.results[9].poster_path}}" alt=""></span>
        <span style="--i:11;"><img src="https://image.tmdb.org/t/p/w500{{movies.results[10].poster_path}}"
            alt=""></span>
        <span style="--i:12;"><img src="https://image.tmdb.org/t/p/w500{{movies.results[11].poster_path}}"
            alt=""></span>
        <span style="--i:13;"><img src="https://image.tmdb.org/t/p/w500{{movies.results[12].poster_path}}"
            alt=""></span>
        <span style="--i:14;"><img src="https://image.tmdb.org/t/p/w500{{movies.results[13].poster_path}}"
            alt=""></span>
        <span style="--i:15;"><img src="https://image.tmdb.org/t/p/w500{{movies.results[14].poster_path}}"
            alt=""></span>
        <span style="--i:16;"><img src="https://image.tmdb.org/t/p/w500{{movies.results[15].poster_path}}"
            alt=""></span>
      </div>
    </div>
  </div>
</section>
<div class="logo text-center">
  <h1>  <i class="bi bi-film"></i> Cinema <span class="lo">X</span></h1>
</div>
<div class="container-fluid supsection1 mt-5 pb-5">
  <div class="row d-flex justify-content-center">
    <div class="col-10">
      <h1>Welcome.</h1>
      <h5 class="mt-2"> <span>Cinema X </span>, is your one-stop hub for all things movies! Whether you're a
        casual moviegoer, a
        dedicated cinephile, or anything in between, <span>Cinema X</span> is designed to cater to your every cinematic
        need.</h5>
    </div>
  </div>
</div>

